body {
	padding-top: 50px;
}

.panel {
	font-size: 18px;
	margin-top: 10px;
    height: 295px;
    border-width: 1px 1px 4px 1px;
}

#detail .panel {
	height: auto;
}

.panel .label {
	position: relative;
	top: -2px;
}

.panel .stock {
	font-size: 22px;
    margin-bottom: 10px;
}

.panel .chart {
	margin-top: 10px;
	max-width: 100%;
	min-height: 150px;
	border: solid 2px #cccccc;
	transition: all 1s;
}

.panel .chart.success {
	border-color: #28b62c;
}

.panel .chart.danger {
	border-color: #ff4136;
}

#detail .panel .chart {
	min-height: 300px;
}

#detail .panel .row {
	margin-top: 30px;
}

#detail .panel .row:first-child {
	margin-top: 0;
}

/* google chart */
svg g g g g rect {
	stroke-width:0px;
}