body {
	padding-top: 50px;
}

.panel {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 0;
    border-width: 1px 1px 4px 1px;
}

#summary {
	margin-top: 260px;
	margin-bottom: 30px;
}

#detail {
	margin-bottom: 30px;
}

#detail .panel {
	height: auto;
}

.panel .label {
	position: relative;
	top: -2px;
}

.panel .stock {
	font-size: 22px;
}

.panel .stock .btn {
	font-size: 10px;
}

.panel .chart {
	margin-top: 10px;
	min-height: 150px;
	outline: solid 2px #cccccc;
	transition: all 1s;
}

.panel .chart.success {
	outline-color: #28b62c;
}

.panel .chart.danger {
	outline-color: #ff4136;
}

.chart-detail {
	padding: 5px;
	margin-top: 0;
	width: 1140px;
	position: fixed;
	z-index: 999;
}

#detail .panel .chart {
	min-height: 200px;
}

#detail .panel .row {
	margin-top: 10px;
}

#detail .panel .row:first-child {
	margin-top: 0;
}

.last-updated {
	font-size: 18px;
	padding: 15px;
	line-height: 20px;
}

/* google chart */
svg g g g g rect {
	stroke-width:0px;
}

/* override bootstrap */
.panel-body {
	padding: 8px;
}